body {
    color: white;
    font-family: 'Sniglet', system-ui, sans-serif;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
}

h1 {
    font-family: 'Ultra', serif;
    font-weight: 400;
}

.imageflex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imageflexcontent {
    margin-left: 0;
    margin-top: 0;
}
